body{
    background-color: aqua;
}
#home{
    background-color: blue;
}
img{
    text-align: left;
}
p{
    text-align: var(img);
}
div{
    margin-left: 25%;
    margin-right: 25%;
}
p{
    margin-left: 25;
}
button{
    margin-left: 95%;
    margin-top: 10%;
    color: azure;
    border: 20;
}